html, body {
  overflow-x:hidden;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color:#333333;
}
h1, h2, h3, h4, h5, h6{
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

h2 {
  font-size:28px;
  font-weight: normal;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  line-height:21px;
  font-weight:300;
}

/* GRID */

.container{

margin-right: auto;
margin-left: auto;
padding-left:15px;
padding-right:15px;
position:relative;
}

.container:before,
.container:after {
  content:" ";
  display: table;
}

.container:after{
  clear:both;
}

.one-half, .one-third, .one-fourth {
  width:96%;
  float:left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
  padding: 0px;
}

.one-third{
  width: 80%;
  margin: 0 10% 20px;
}

 /* HEADER */

 header .site-logo{
 text-align: center;
 display: block;
 padding-top:20px;
 }


 header nav {
  padding:1em 0;
 }

 header nav ul {
  display: block;
  text-align: center;
  margin: 0;
  padding:0px;
 }

 header nav ul > li {
  list-style-type:none;
  display: inline-block;
  margin: 0 15px;
  padding: 10px;
 }


header nav ul > li.btn-outline:hover{
  background:#EF4A27;
  padding: 10px;
}

header nav ul > li a {
  color:#EF4A27;
  text-decoration: none;
}

header nav ul > li.btn-outline:hover > a {
  color:#FFFFFF;
}

/* HERO */
 header .hero { 
   background:#63893E url("../images/hero_cover.png") no-repeat top center;
   text-align: center;
   display:block;
   position: relative;
   background-size:cover;
   min-height: 250px;
 }
 header .hero:before {
  content: " ";
  background:rgba(99,137,62,0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
 }
 header .hero .hero-content {
  width:80%;
  padding: 2% 30px 10%;
 }
 header .hero h1 {
   font-size:40px;
   font-weight: normal;
   position: relative;
   padding: 0px;
 }

 header .hero p {
   font-size: 16px;
   text-align:center;
   line-height: 21px;
   font-weight: 300;
   margin:10px 0% 20px 5%;
   padding-bottom: 20px;
   position: relative;
 }
 header .hero img{
  display: block;
  margin 3em auto 0;
 }

  /* BUTTONS */
 .btn {
  border-radius: 4px;
  color:#FFFFFF;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 30px;
  background: #EF4A27;
  border: 2px solid #EF4A27;
  box-shadow: 0px 2px 0px 0px #A42F17;
  position: relative;
 }


/* Benefits */

 .benefits {
  margin: 0 auto;
  width: 100%;
 }
 .benefits:after, .benefits:before {
    content: " ";
    display: table;
 }
 .benefits:after {
    clear:both;
 }
 .benefits .one-half {
  width: 100%;
  margin: 0;
  display: block;
}

.benefits .one-half img {
  width:100%;
  height:50%;
   }

.benefits .one-half .benefits-text {
padding:10%;

 }

/* PRICING */
.pricing{
  background: #63893E url("../images/pricing_background.png")top center no-repeat;
  background: url("../images/pricing_background.png") top center center no-repeat, linear-gradient(206deg, #63893E, 0%, #63893E, 94%);
  background-size: cover;
  text-align: center;
  padding: 4em 0;

}

.pricing h2, .pricing p {
  color:#FFFFFF;
}

.pricing ul {
  margin: 0 auto;
  padding: 2em 0;
}

.pricing ul li {
  list-style-type: none;
}

.box {
  padding:0 15px 15px;
  background: #FFFFFF;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,0.20);
  min-height:400px;
  position: relative;
  margin-top: 25px;
}

.box h3 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-transform: uppercase;
  background: #E2E2E2;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin: 0 -15px 40px;
  padding:10px 0;
}

.box h4 {
  font-size: 50px;
  font-weight: normal;
  margin:40px 0 10px;
  color: #73A057;
}

.box h4 span {
  font-size:32px;
  vertical-align: top;
}

.box h4 span.month {
  font-family:"PT Sans", Helvetica, Arial, sans-serif;
  font-weight:100;
  color:#888888;
  font-size:25px;
  vertical-align:middle;
}

.box ul li {
  font-size:18px;
  margin-bottom:20px;
  font-weight: 100;
}

.box .btn {
  position:absolute;
  bottom:20px;
  left:20px;
  right:20px;
}

.small {
  font-size: 12px;
  color: #fefefe;
  line-height: 15px;
  font-style: italic;
}

/*Testimonials*/

.testimonials {
  padding: 4em 0;
  text-align: center;
}

.testimonials h2 {
  color:#63893E;
}

.testimonials blockquote {
  color:#63893E;
  text-align: left;
  line-height:22px;
  font-style: italic;
  position: relative;
  padding: 30px;
  width: auto;
  margin: 0% 5%;
}

.testimonials img {
  height:65px;
  width: 65px;
  border-radius:50%;
  float:center;
  display: inline-block;
  padding:10px;
  padding-bottom:20px;

}

.testimonials p.name {
  float:center;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  vertical-align: 52px;
  padding-bottom:20px;
}

.testimonials .btn{
  float: center;
  display: block;
  margin: 10% 10%;
}

/* FOOTER */

footer {
  color:#63893E;
  positive: relative;
  overflow: hidden;
  padding: 0px;
  z-index:0;
}

footer hr{
  border-top: 1px solid #63893E;
}

footer p, footer nav ul {
  font-size: 12px;
  line-height:21px;
  font-weight: 100;
  text-align: center;
  margin: auto;
  padding: 5px;
}

footer nav ul li {
  list-style-type: none;
  display: inline;
}

footer nav ul li a {
  color:#EF4A27;
  text-decoration: none;
}

footer .right-footer-block {
  background-color: transparent;
}


footer .logo {
  margin: 0% auto;
  display: block;
  padding: 10px;
}




@media (min-width: 768px) {
   .container {
     width: 750px;
   }

   header .hero { 
   text-align: left;
   min-height: 500px;
 }

  header .hero { 
   background:#63893E url("../images/hero_cover.png") no-repeat top center;
   text-align: left;
   display:block;
   position: relative;
   background-size:cover;
   min-height: 500px;
 }
 header .hero:before {
  background:#63893E url("../images/hero_cover.png") no-repeat top center;
  background-size:cover;
 }

 header .hero .hero-content {
  width:50%;
  padding: 10% 60px;
 }
 header .hero h1 {
   font-size:48px;
   font-weight: normal;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   text-align:left;
   font-weight: 300;
   margin:10px 0px 40px;
 }
 
 header .hero img{
  display: block;
  margin 3em auto 0;
 }

 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
     margin: 0 2% 20px;

   }

   .one-fourth {
     width:21%;
   }
  header .site-logo{
 text-align: left;
 display: inline-block;
 }

 header nav ul {
  display: block;
  text-align: right;
  float: right;
  margin: 0;
 }

 header nav ul > li {
  list-style-type:none;
  display: inline-block;
  margin: 0 15px;
 }

  header nav ul > li.btn-outline{
  padding:10px 15px;
  border: 2px solid #EF4A27;
  border-radius: 4px;
 }

   .benefits .one-half {
    width:50%;
    margin: 0;
    display: inline-block;
    height:400px;
    overflow: hidden;
   }
   .benefits .one-half img {
    width:100%;
    height:auto;
   }
   .benefits .one-half .benefits-text {
    padding:15%;
   }
   .benefits .one-half.pull-right {
    float:right;
   }
   .benefits .one-half.pull-left {
    float:left;
   }


   .box {
  padding:0 15px 15px;
  background: #FFFFFF;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,0.20);
  min-height:439px;
  position: relative;
  margin-top: 25px;
}
.box.middle {
  min-height: 485px;
  margin-top:0px;
}



    .testimonials blockquote {
  margin: 0% 25%;
 }
 .testimonials .btn{
  margin: 2% 40%;
}

footer p, footer nav ul {
  padding: 20px;
}

footer .logo {
  padding: 2.5px;
}


}


 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }


 /* DASHBOARD */
 .dashboard{
  background:#F7F7F7;
 }

 .left-nav{
  height: 100%;
  width:280px;
  position:absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(-280px,0);
  -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
  -o-transform: translate(-280px,0); /** Opera **/
  -moz-transform: translate(-280px,0); /** Firefox **/
}

.left-nav.open {
   display:block;
   width:280px;
   background: #63893E;
   background-image: linear-gradient(206deg, #7EA94E 0%, #63893E 94%);
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
     z-index: 100;
 }

  .hamburger {
   position:absolute;
   z-index: 1000;
   background:#63893E;
   color:#FFF;
   text-decoration: none;
   font-size: 22px;
   padding: 10px 15px;
   border-radius: 4px;
   left: 5px;
   top: 15px;
 }


@media (min-width:992px){
 .left-nav{
  height:100vh;
  width:14.6666667%;
  color:#FFFFFF;
  background:#63893E;
  background-images: linear-gradient (206deg, #7EA94E 0%, #63893E 94%);
  float: left;
  position: fixed;
  display:block;
  transform: translate(0,0);
  -webkit-transform: translate(0,0); /** Chrome & Safari **/
  -o-transform: translate(0,0); /** Opera **/
  -moz-transform: translate(0,0); /** Firefox **/
 }

 .left-nav.open {
     width:14.66666667%;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .hamburger {
     display:none;
   }

 }




 .left-nav .site-logo{
  padding: 20px 0;
  resize:80%;
  background: #63893E;
  display: block;
  text-align: center;
 }

 .left-nav .items {
  padding:0;
 }

 .left-nav .items p{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  color: #E2E2E2;
  line-height: 15px;
  padding: 0 6%;
 }

 .left-nav .items ul{
  margin: 0 0 40px;
  padding: 0;
 }

 .left-nav .items ul li {
  list-style-type: none;
  position: relative;
  padding: 5% 6%;
 }

 .left-nav .items ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 100;
 }
 .left-nav .items ul li.active {
  background:#506C34;
  width: auto;
 }
/* .left-nav .items .active a {
  background: #506C34;
  width:100%;
  padding: 4% 25% 4% 2%;
 }*/

 .left-nav .items ul li a i {
  width: 16px;
  text-align: center;
  margin-right: 8px;
 }

 

 /* CONTENT */

 .content {
  padding: 6em 1% 1.5em;
  float:right;
  width: 98%;
  position: relative;
 }

 .content .header {
  margin: 0 1% 20px;
  display:inline-block;
 }
 .content .header ul.menu {
  margin: 10px 0 0 15px;
 }

 .content .header h1 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin: 0 0 30px;
  font-size: 36px;
  color: #63893E;
  line-height: 44px;
  float:left;
  display: inline-block;
 }

 .content .header > a {
  float:left;
  margin:0 30px;
 }



 /* AVATAR SETTINGS (MOBILE FIRST) HELP */

 .content .settings {
  bottom:0;
  left:0;
  right:0;
  margin: 0 1% 20px;
  display: block;
 }

  .content .settings img {
  height: 35px;
  width: 35px;
  margin-left:10px;
  display: block;
 }

 .content .settings p {
  display: inline-block;
  vertical-align: top;
  padding-top: 8px;
  font-weight: 400;
  margin: 0 0 0 10px;
 }
 .content .settings ul.dropit-submenu {
  width:200px;
 }

 /* END AVATAR SETTINGS HELP */


 .content-item {
  width:96%;
  margin: 0 2% 25px;
  float:left;
  display:block;
 }

 .item-box{
  display:block;
  height:230px;
  background:#FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
  position: relative;
  overflow: hidden;
  padding: 20px;
 }

/* Larger Mobile Devices */
 @media (min-width:460px){
  .content {
    padding:1.5em 1%;
    float:right;
    width:90%;
    position:relative;
  }

  .content-item{
    width:46%;
    margin:0 2% 25px;
    float:left;
    display:block;
  }

 }
 /* Tablets */
 @media (min-width:768px){
 
 /* AVATAR SETTINGS (TABLET AND LARGER) HELP */

  .content .settings {
  float:right;
  bottom:0;
  left:0;
  right:0;
  margin: 0 1% 20px;
 }

  .content .settings img {
  height: 35px;
  width: 35px;
  margin-left:10px;
  display: inline-block;
 }

  /* END AVATAR SETTINGS HELP */



  .content{
    padding:1.5em 5%;
    float:right;
    width:90%;
    position: relative;
  }
  .content > .container {
    width:700px;
  }
  .content-item{
    width:31.33333%;
    margin:0 1% 25px;
  }
 }

/* Laptops and Desktops */
@media (min-width:992px){
  .content {
    padding: 1.5em 1%;
    float:right;
    width:83.33333333%;
    position: relative;
  }
  .content > .container {
    width:auto;
  }

  .content-item{
    width:23%;
    margin:0 1% 25px;
  }
}
.item-box.weblink h2 {
  margin-top:100px;
}

.item-box > img {
  position:absolute;
  height:100%;
  width:auto;
  top:0;
  left:0;
  right:0;
}

.item-box img.webstyle {
  position:absolute;
  height:auto;
  width:100%;
  top:0;
  left:0;
  right:0;
}

.item-box h2 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size:15px;
  line-height:17px;
  margin: 0;
}

.item-box h2 a{
  color: #333333;
  text-decoration: none;
}

.item-box h2 img{
  width:16px;
  height:16px;
  position:relative;
  top:2px;
  margin-right:5px;
}

.item-box p {
  font-size: 14px;
  color: #333333;
  line-height:18px;
  margin:10px 0 0;
}

.item-box ol {
  font-size: 14px;
  color: #333333;
  line-height:18px;
  margin:10px 0 0;
}

.item-box ul {
  font-size: 14px;
  color: #333333;
  line-height:18px;
  margin:10px 0 0;
}







